/*Styles here*/

body{
    margin: 15em;
    background-color: whitesmoke;
    display: inline-block;
    border: 1px black solid;
    padding: 2em;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
}
body:hover{
  background: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 1em;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
  border: 1px solid white;
}

